<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods" thread-count="3">
    <test name="All Test Cases">
        <packages>
            <package name="testCases"/>
            <package name="Estimate"/>
            <package name="PO"/>
        </packages>
    </test>


</suite>